html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.el-space {
  height: calc(100% - 60px) !important;
}

.el-space__item {
  height: calc(100% - 10px) !important;
}
